.container {
  padding-top: 20px;
}

.btn-delete {
  margin-top: 12px;
}

@media screen and (min-width : 991px) {
  .btn-delete {
    margin-top: 32px;
  }
}

textarea.form-control {
  resize: none;
  height: 150px;
}
